nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
}

nav input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
    padding: 5px;
    border-right: none;
    min-width: 360px;
}

nav input:focus {
    outline: none;
}

#searchBtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -1px;
    height: 34px;
    width: 40px;
    font-size: 16px;
    border-left: none;
    background-color: inherit;
}

#searchBtn:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
}

.nav-links {
    font-size: 24px;
    text-decoration: none;
    color: black;
    padding: 0 6px;
    cursor: pointer;
}


#formModal {
    display: none;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    top: 0;
}

@media (max-width: 700px) {
    nav { 
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

}

@media (max-width: 480px) {
    nav input {
        min-width: 180px;
    }
}
