@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('./assets/fonts/PressStart2P-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  min-height: 100%;
}


.robotoFont {
font-family: 'Roboto', sans-serif;;
}

.titlesFont {
  font-family: 'Press Start 2P', cursive, sans-serif;
}

.error {
  font-size: 16px;
  color: rgb(210, 0, 0);
  align-self: flex-start;
  display: none;
}

.del {
  color: rgb(207, 4, 4);
  padding: 2px 4px;
  font-size: 20px;
  height: 24px;
  cursor: pointer;
  margin-right: 6px;
}